.foo {
  font-size: 16px;
  font-size: 1.6rem; }

.bar {
  margin: 15px 0 15px 0;
  margin: 1.5rem 0 1.5rem 0; }

.baz {
  border: 3px solid #f00;
  border: 0.3rem solid #f00; }

.qux {
  background-position: 4px 1px, 4px 0px, 50% 0px;
  background-position: 0.4rem 0.1rem, 0.4rem 0px, 50% 0px; }
